{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} MY DEFAULT TITLE {% endblock %}</title>
<link href="{% static "styles.css" %}" rel="stylesheet">
</head>
<body>

<p>
{% if request.user.is_authenticated %}
    Hi {{ request.user.first_name }}!
    <a href="{% url "dacha:logout" %}">Logout</a>
    <a href="{% url "dacha:profile" %}">Profile</a>
{% else %}
    <a href="{% url "dacha:login" %}">Login</a>
{% endif %}
</p>

{% block content%}
{% endblock %}
</body>
</html>